<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_lab.css">
    <title>Document</title>
</head>
<body style="    background-size: 1550px, 1200px;
    background-image:url('https://res.cloudinary.com/dxthtmut5/image/upload/bnz4dubgh2e5ykoy39ed');">
<div class="top">
    <a href="/main">
        <img class="icon_back" src="public/img/back.png">
    </a>
    <a style="margin-top: 4px " href="/login">
        <img class="icon_menu" src="public/img/menu.png">
    </a>
</div>
<div class="section-box">
    <p style="font: 34px/22px RobotoBold, Arial, sans-serif;font-weight: bold">
        Профессионально важные качества
    </p>
    <div style="margin-top: 92px" class="service-box-wrap">
        <div class="service-box">
            <img style="height: 83px;width: 121px;margin-left:31px; margin-top: 8px" src="public/img/aqw.png">
            <p class="service-box__h">
                Frontend-разработчик
            </p>
            <p style="font: 14px/22px RobotoBold, Arial, sans-serif">Frontend-разработчик — это специалист, который создает пользовательские интерфейсы.</p>
            <p class="service-box__btn">
                <a href="/desc_frontend" class="btn-violet-nd">
                    Продолжить
                </a>
            </p>
        </div><div class="service-box">
            <img style="height: 100px;width: 100px;margin-top: 8px" src="public/img/k.png">
            <p class="service-box__h">
                Data Scientist
            </p>
            <p style="font: 14px/22px RobotoBold, Arial, sans-serif"> Data Scientist — это специалист по работе с данными для решения задач бизнеса.</p>
            <p class="service-box__btn">
                <a href="/desc_datascience" class="btn-violet-nd">
                    Продолжить
                </a>
            </p>
        </div>
        <div class="service-box">
            <img style="height: 100px;width: 100px;margin-top: 7px" src="public/img/o.png">
            <p class="service-box__h">
                System Administrator
            </p>
            <p style="font: 14px/22px RobotoBold, Arial, sans-serif"> System Administrator — обеспечение штатной работы парка компьютерной техники</p>
            <p class="service-box__btn">
                <a href="/desc_sysadmin" class="btn-violet-nd">
                    Продолжить
                </a>
            </p>
        </div>
        <div class="service-box">
            <img style="height: 100px;width: 100px;margin-top: 3px" src="public/img/f.png">
            <p class="service-box__h">
                Статистика
            </p>
            <p style="font: 14px/22px RobotoBold, Arial, sans-serif"> Вы можете просмотреть результаты опроса среди Экспертов.</p>
            <p class="service-box__btn">
                <a href="/stat" class="btn-violet-nd">
                    Продолжить
                </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>