<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_main.css">
    <title>Document</title>
</head>
<body>
<div class="top">
    <p class="rofl">LABA OPD</p>
    <a href="/login">
        <img class="icon_top" src="public/img/menu.png">
    </a>
</div>
<div class="choice">

    <div class="content service-block service-block_left">
        <section class="section-box">

            <div class="service-box-wrap">
                <div class="service-box">
                    <img class="icon_2" src="public/img/ic.png">
                    <p class="service-box__h">ПВК</p>
                    <p style="font: 18px/22px RobotoBold, Arial, sans-serif">
                        Система определения ПВК в зависимости от вида деятельности программиста.
                    </p>
                    <div class="service-box__btn">
                        <a class="btn-violet-nd" href="/lab1">Начать</a>
                    </div>
                </div>
                <div class="service-box">
                    <img class="icon_2" src="public/img/d.png">
                    <p class="service-box__h">Качества и свойства человека</p>
                    <p style="font: 20px/28px RobotoBold, Arial, sans-serif">
                        Методический аппарат для оценки качеств и свойств человека.
                    </p>
                    <div class="service-box__btn">
                        <a class="btn-violet-nd" href="/tests">Начать</a>
                    </div>
                </div>

            </div>

        </section>
    </div>
</div>
</body>
</html>