<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_lab.css">
    <title>Document</title>
</head>
<body>
<div class="bg_img">
    <div class="top">
        <a href="/main">
            <img class="icon_back" src="/public/img/back.png">
        </a>
        <a href="/login">
            <img class="icon_menu" src="/public/img/menu.png">
        </a>
    </div>
    <div class="section-box2">
        <p style="font: 18px/22px RobotoBold, Arial, sans-serif;font-weight: bold;">Методический аппарат для оценки качеств и свойств человека</p>
        <div class="service-box-wrap2">
            <div class="service-box2">
                <img style="margin-top: 10px;width: 100px;height: 100px;" src="public/img/vv.png">

                <p class="text_box">
                    <span style="color:black;font: 16px/22px RobotoBold, Arial, sans-serif;font-weight: bold">Сенсомоторные реакции</span>
                <p style="color: #080808;font: 16px/22px RobotoBold, Arial;width:333px; ">
                    Проверьте свою реакцию на слу&shyховые и зрительные сигналы
                </p>
                </p>
                <div class="service-box__btn">
                    <a class="btn-violet-nd" href="/tests_lab2">Пройти тест</a>
                </div>

            </div>
            <div class="service-box2">
                <img style="margin-top: 11px;width: 100px;height: 100px;" src="public/img/p.png">

                <div class="icon">
                    <img class="icon_2" src="">
                </div>
                <p class="text_box">
                    <u class="box_title">
                        <span style="color:black;font: 16px/22px RobotoBold, Arial, sans-serif;font-weight: bold"> Движущийся объект</span>
                    </u>
                <p style="color: #080808;font: 16px/22px RobotoBold, Arial;width:333px;">Проверьте свою реакцию на двиyжущийся объект
                </p>
                <div class="service-box__btn">
                    <a class="btn-violet-nd" href="/tests_lab3">Пройти тест</a>
                </div>

            </div>
            <div class="service-box2">
                <img style="margin-top: 10px;width: 100px;height: 100px;" src="public/img/t.png">

                <p class="text_box">
                    <u class="box_title">
                        <span style="color:black;font: 16px/22px RobotoBold, Arial, sans-serif;font-weight: bold">Аналоговое слежение </span>

                    </u>
                <p style="color: #080808;font: 16px/22px RobotoBold, Arial;width:333px;">Проверьте свою реакцию на аналоговое слежение</p>
                </p>
                <div class="service-box__btn">
                    <a class="btn-violet-nd" href="/tests_lab4">Пройти тест</a>
                </div>

            </div>
            <div class="service-box2">
                <img style="margin-top:10px;width: 100px;height: 100px;" src="public/img/l.png">

                <div class="icon">
                    <img class="icon_1" src="">
                </div>
                <p class="text_box">
                    <u class="box_title">
                        <span style="color:black;font: 16px/22px RobotoBold, Arial, sans-serif;font-weight: bold">Внимание, память и мышление</span>
                    </u>
                <p style="color: #080808;font: 16px/22px RobotoBold, Arial;width:333px;">Проверьте свое внимание, память и мышление</p>
                </p>
                <div class="service-box__btn">
                    <a class="btn-violet-nd" href="/tests_lab5">Пройти тест</a>
                </div>

            </div>
<!--            ///////////////////////////////////////////////////////////-->
            <div class="service-box2">
                <img style="margin-top:10px;width: 100px;height: 100px;" src="public/img/pulse.png">

                <div class="icon">
                    <img class="icon_1" src="">
                </div>
                <p class="text_box">
                    <u class="box_title">
                        <span style="color:black;font: 16px/22px RobotoBold, Arial, sans-serif;font-weight: bold">Пульс</span>
                    </u>
                <p style="color: #080808;font: 16px/22px RobotoBold, Arial;width:333px;">Измерьте свой пульс до и после физ. упражнений</p>
                </p>
                <div class="service-box__btn">
                    <a class="btn-violet-nd" href="/pulse_start">Пройти тест</a>
                </div>

            </div>
            <div class="service-box2">
                <img style="margin-top:10px;width: 100px;height: 100px;" src="public/img/q.png">
                <div class="icon">
                    <img class="icon_1" src="">
                </div>
                <p class="text_box">
                    <u class="box_title">
                        <span style="color:black;font: 16px/22px RobotoBold, Arial, sans-serif;font-weight: bold">Пройти все тесты</span>
                    </u>
                <p style="color: #080808;font: 16px/22px RobotoBold, Arial;width:333px;">Пройдите все тесты и узнайте ваши ПВК</p>
                </p>

                <div class="service-box__btn">
                    <a class="btn-violet-nd" href="/all_tests">Пройти все тесты</a>
                </div>

            </div>

            <div style="padding-top: 37%;color: white">0</div>
        </div>
    </div>
</div>
</body>
</html>